{%  extends 'base.html' %}

{% block content %}
    <h1 class="title">Add course</h1>

    <form method="post" action=".">
        {%  csrf_token %}

        {% if form.errors %}
            {% for error in form.errors %}
                <div class="notification is-danger">
                    {{ error }}
                </div>
            {% endfor %}

        {% endif %}
        <div class="field">
            <label>Name</label>
            <div class="control">
                <input class="input" type="text" name="name" id="id_name">
            </div>
        </div>

        <div class="field">
            <label>Youtube channel</label>
            <div class="control">
                <input class="input" type="text" name="yt_channel" id="id_yt_channel">
            </div>
        </div>

        <div class="field">
            <label>Description</label>
            <div class="control">
                <input class="input" type="text" name="description" id="id_description">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}