{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{{ course.name }}</h1>
    <p class="title is-4">Instructor: {{ course.instructor.first_name }} {{ course.instructor.last_name }}</p>
    <p class="title is-4">Instructor email: {{ course.instructor.email }}</p>
    <p class="is-size-4">Instructor youtube channel: {{ course.yt_channel }}</p>
    <p class="is-size-4">{{ course.description }}</p>

{%  endblock %}