{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Dashboard</h1>

    {% if userprofile.is_instructor %}
        <hr>
        <h1 class="subtitle">My courses</h1>
        <a href="{% url 'add_course' %}" class="button is-light"><strong>Add course</strong></a>
        <div class="columns">
        {% for course in courses %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ course.name }}</p>
                                <p class="title is-4">{{ course.instructor.email }}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ course.description }}

                            <hr>

                            <a href="{% url 'course_delete' course.id%}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <hr>
        <h1 class="subtitle">Assign courses</h1>
        <div class="columns">
        {% for course in assign %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ course.name }}</p>
                                <p class="title is-4">{{ course.instructor.email }}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ course.description }}

                            <hr>

                            <a href="{% url 'unsign' course.id%}">Unsign</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}