<!DOCTYPE html>

<html>
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Django app</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <a href="{% url 'frontpage' %}" class="navbar-item"><strong>Django App</strong></a>
            </div>

            <div class="navbar-brand">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'dashboard' %}" class="button is-light"><strong>Dashboard</strong></a>
                                <a href="{% url 'logout' %}" class="button is-danger">Log out</a>
                            {% else %}
                                <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
                                <a href="{% url 'login' %}" class="button is-light"><strong>Log in</strong></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <section class="section">
            {% block content %}
            {% endblock %}
        </section>

    </body>
</html>