{%  extends 'base.html' %}

{% block content %}
    <h2 class="subtitle has-text-centered">Newest courses</h2>
    <div class="columns">
        {% for course in courses %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ course.name }}</p>
                                <p class="title is-4">{{ course.instructor.email }}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{ course.description }}

                            <hr>

                            <a class="button is-light" href="{% url 'course_detail' course.id %}">View</a>
                            {% if request.user.is_authenticated %}
                                <a class="button is-light" href="{% url 'assign' course.id %}">Assign</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}