{%  extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <h1 class="title">Log in</h1>

            <form method="post" action=".">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="field">
                    <div class="control">
                        <button class="button is-success">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}