{%  extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <h1 class="title">Sign up</h1>

            <form method="post" action=".">
                {% csrf_token %}

                {{ form.as_p }}

                <hr>

                <div class="field">
                    <label>Account type</label>

                    <div class="control">
                        <select name="account_type">
                            <option value="student" selected>Student</option>
                            <option value="instructor">Instructor</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-success">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}